HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# ─── UPLOADS ET AVATARS ───
# Ignore le dossier uploads local créé à la racine du projet
uploads/

# Ignore tout le contenu du dossier, mais conserve la structure si nécessaire
# (Optionnel : utile si vous changez votre configuration pour "./uploads")
**/uploads/**